<div class="container-fluid">
  <p class="text-info">Enter your email address:</p>
  <input class="form-control" required type="email" name="userInput" pattern="[^ @]*@[^ @]*" ngModel
         #userInput="ngModel" title="userInput"/>
  <div class="help-block bg-danger" *ngIf="!userInput.valid && userInput.touched">Please enter a valid email address!
  </div>
  <button (click)="getUserInformationByEmailAddress(userInput.value)" class="btn btn-default" [disabled]="!userInput.valid">
    Login
  </button>
</div>
