<h2>
    List of students
</h2>
<hr>
<div class=table-responsive>
    <table class=table>
        <thead>
        <tr>
            <th>#</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Birthday</th>
            <th>Mother</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let student of students; let i = index">
            <th scope=row><a routerLinkActive="active" [routerLink]="['/students/'+student.studentId]">{{student.studentId}}</a></th>
            <td><a routerLinkActive="active" [routerLink]="['/students/'+student.studentId]">{{student.studentFirstName}}</a></td>
            <td><a routerLinkActive="active" [routerLink]="['/students/'+student.studentId]">{{student.studentLastName}}</a></td>
            <td><a routerLinkActive="active" [routerLink]="['/students/'+student.studentId]">{{student.studentDateBirth}}</a></td>
            <td><a routerLinkActive="active" [routerLink]="['/students/'+student.studentId]">{{student.studentMotherName}}</a></td>
        </tr>
        </tbody>
    </table>
</div>
<div *ngIf="err">
    <h3>Error found executing: student-list.component.</h3>
    <hr>
    <div class="bg-danger text-danger">
        {{err}}
    </div>
</div>