<h2>
  Estudantes
</h2>
<div class="text-info">
  <a routerLinkActive="active" [routerLink]="['/students/add']">Adicionar</a>
</div>
<hr>
<div class=table-responsive>
  <table class=table>
    <thead>
    <tr>
      <th class="hidden">#</th>
      <th><br></th>
      <th><br></th>
      <th><br></th>
      <th>
        <input #filterStudentFirstName 
        (keyup)="onFilterStudentFirstName(filterStudentFirstName.value)"
        (blur)="onFilterStudentFirstName(filterStudentFirstName.value)">
        <br>Nome
      </th>
      <th>
        <input #filterStudentLastName 
        (keyup)="onFilterStudentLastName(filterStudentLastName.value)"
        (blur)="onFilterStudentLastName(filterStudentLastName.value)">
        <br>Sobrenome
      </th>
      <th><br>Dt.Nasc.</th>
      <th><br>Mae</th>
      <th>
        <input #filterStudentEducationCenterName 
        (keyup)="onFilterStudentEducationCenterName(filterStudentEducationCenterName.value)"
        (blur)="onFilterStudentEducationCenterName(filterStudentEducationCenterName.value)">
        <br>Unidade
      </th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let student of students; let i = index">
      <th class="hidden" scope=row><a routerLinkActive="active" [routerLink]="['/students/detail/'+student.id]">{{student.id}}</a>
      </th>
      <td><a routerLinkActive="active" [routerLink]="['/students/delete/'+student.id]">Remover</a></td>
      <td><a routerLinkActive="active" [routerLink]="['/students/update/'+student.id]">Atualizar</a></td>
      <td><a routerLinkActive="active" [routerLink]="['/students/detail/'+student.id]">Listar</a>
      </td>
      <td><p>{{student.firstName}}</p>
      </td>
      <td><p>{{student.lastName}}</p>
      </td>
      <td><p>{{student.dateBirth | date:
        'dd/MM/yyyy'}}</p>
      </td>
      <td><p>{{student.motherName}}</p>
      </td>
      <td><p>{{student.enrollmentMostCurrent.educationCenter.name}}</p>
      </td>
    </tr>
    </tbody>
  </table>
</div>
<div *ngIf="students.length === 0" class="loading">
  <img src="assets/loading.svg" alt="loading">
</div>
<div *ngIf="err">
  <h3>Error found executing: student-list.component.</h3>
  <hr>
  <div class="bg-danger text-danger">
    {{err}}
  </div>
</div>
