<div class="container">
  <h2>Cadastro de Matricula na Educacao Infantil</h2>
  <hr>
  <form>
    <fieldset class="form-group mftf-border">
      <legend class="mftf-border">Crianca</legend>
      <div class="form-group">
        <label for="firstName">Nome</label>
        <div class="form-inline">
          <input type="text" class="form-control" id="firstName" placeholder="Jose" required>
          <input type="text" class="form-control" id="middleName" placeholder="Mariano Rocha" required>
          <input type="text" class="form-control" id="lastName" placeholder="Azevedo" required>
        </div>
      </div>
      <div class="form-group">
        <label for="gender">Sexo</label>
        <input type="text" class="form-control" id="gender" placeholder="masculino" required>
      </div>
      <div class="form-group">
        <label for="dateBirth">Dt.Nasc.</label>
        <input type="date" class="form-control" id="dateBirth" placeholder="27/01/2015" required>
      </div>
      <div class="form-group">
        <label for="race">Cor/Raca</label>
        <input type="text" class="form-control" id="race" placeholder="negro" required>
      </div>
      <div class="form-group">
        <label for="birthPlaceCity">Naturalidade</label>
        <div class="form-inline">
          <input type="text" class="form-control" id="birthPlaceCity" placeholder="Goiania" required>
          <input type="text" class="form-control" id="birthPlaceState" placeholder="Goias" required>
          <input type="text" class="form-control" id="birthPlaceCountry" placeholder="Brasil">
        </div>
      </div>
      <div class="form-group">
        <label for="birthCertificateId">Cert.Nasc.</label>
        <input type="text" class="form-control" id="birthCertificateId" placeholder="02673201552015100266145010939591"
               required>
      </div>
      <div class="form-group">
        <label for="addressStreet">Endereco</label>
        <div class="form-inline">
          <input type="text" class="form-control" id="addressStreet" placeholder="Rua Luiz do Couto" required>
          <input type="text" class="form-control" id="addressCompletement" placeholder="Q.195 Lt.3 Casa 2">
          <input type="text" class="form-control" id="addressSubDivision" placeholder="Setor Pedro Ludovico">
          <input type="text" class="form-control" id="addressLocalityCity" placeholder="Goiania" required>
          <input type="text" class="form-control" id="addressLocalityState" placeholder="Goias" required>
          <input type="text" class="form-control" id="addressLocalityCountry" placeholder="Brasil">
          <input type="number" class="form-control" id="addressZipCode" placeholder="74830100" required>
        </div>
      </div>
    </fieldset>
    <fieldset class="form-group mftf-border">
      <legend class="mftf-border">Mae</legend>
      <div class="form-group">
        <label for="motherName">Nome</label>
        <input type="text" class="form-control" id="motherName" placeholder="Maria de Souza Aguiar" required>
      </div>
      <div class="form-group">
        <label for="motherGovernmentId">CPF</label>
        <input type="text" class="form-control" id="motherGovernmentId" placeholder="039.493.293.01" required>
      </div>
      <div class="form-group">
        <label for="motherSchooling">Escolaridade</label>
        <input type="text" class="form-control" id="motherSchooling" placeholder="Ensino Medio Completo" required>
      </div>
      <div class="form-group">
        <label for="motherDateBirth">Dt.Nasc.</label>
        <input type="date" class="form-control" id="motherDateBirth" placeholder="negro" required>
      </div>
      <div class="form-group">
        <label for="motherProfession">Profissao</label>
        <input type="text" class="form-control" id="motherProfession" placeholder="Professora" required>
      </div>
      <div class="form-group">
        <label for="motherPhoneNum">Telefone</label>
        <input type="text" class="form-control" id="motherPhoneNum" placeholder="953628273/84327327" required>
      </div>
    </fieldset>
    <fieldset class="form-group mftf-border">
      <legend class="mftf-border">Pai</legend>
      <div class="form-group">
        <label for="fatherName">Nome</label>
        <input type="text" class="form-control" id="fatherName" placeholder="Geraldo de Souza Aguiar">
      </div>
      <div class="form-group">
        <label for="fatherGovernmentId">CPF</label>
        <input type="text" class="form-control" id="fatherGovernmentId" placeholder="039.493.293.01">
      </div>
      <div class="form-group">
        <label for="fatherSchooling">Escolaridade</label>
        <input type="text" class="form-control" id="fatherSchooling" placeholder="Ensino Medio Completo">
      </div>
      <div class="form-group">
        <label for="fatherDateBirth">Dt.Nasc.</label>
        <input type="date" class="form-control" id="fatherDateBirth" placeholder="negro">
      </div>
      <div class="form-group">
        <label for="fatherProfession">Profissao</label>
        <input type="text" class="form-control" id="fatherProfession" placeholder="Contador">
      </div>
      <div class="form-group">
        <label for="fatherPhoneNum">Telefone</label>
        <input type="text" class="form-control" id="fatherPhoneNum" placeholder="953628273/84327327">
      </div>
    </fieldset>
    <fieldset class="form-group mftf-border">
      <legend class="mftf-border">Emergencias</legend>
      <div class="form-group">
        <label for="emergencyPhoneNum01">Telefone</label>
        <input type="text" class="form-control" id="emergencyPhoneNum01" placeholder="953628273">
      </div>
      <div class="form-group">
        <label for="emergencyContactName01">Name</label>
        <input type="text" class="form-control" id="emergencyContactName01" placeholder="Alex (avo)">
      </div>
      <div class="form-group">
        <label for="emergencyPhoneNum02">Telefone</label>
        <input type="text" class="form-control" id="emergencyPhoneNum02" placeholder="84327327">
      </div>
      <div class="form-group">
        <label for="emergencyContactName02">Name</label>
        <input type="text" class="form-control" id="emergencyContactName02" placeholder="Antonio (tio)">
      </div>
      <div class="form-group">
        <label for="observations">Obs</label>
        <input type="text" class="form-control" id="observations" placeholder="Pai/Mae autorizados a buscar.">
      </div>
      <div class="form-group">
        <label for="photoFileName">Foto</label>
        <input type="text" class="form-control" id="photoFileName" placeholder="estudanteMarceloArroyo.png">
      </div>
    </fieldset>
    <fieldset class="form-group mftf-border">
      <legend class="mftf-border">Saude da crianca</legend>
      <fieldset class="form-group mftf-border">
        <legend class="mftf-border">Doencas que ja teve</legend>
        <div class="form-group form-inline">
          <label for="hadChickenpox">Catapora</label>
          <input type="checkbox" class="form-control" id="hadChickenpox">
          <label for="hadRubella">Rubeola</label>
          <input type="checkbox" class="form-control" id="hadRubella">
          <label for="hadDehydration">Desidratacao</label>
          <input type="checkbox" class="form-control" id="hadDehydration">
          <label for="hadMumps">Caxumba</label>
          <input type="checkbox" class="form-control" id="hadMumps">
          <label for="hadOtherContagiousDiseaseDesc">Quais outras doencas?</label>
          <input type="text" class="form-control" id="hadOtherContagiousDiseaseDesc">
        </div>
      </fieldset>
      <div class="form-group">
        <label for="hasAlergies">Lista das alergias</label>
        <input type="text" class="form-control" id="hasAlergies" placeholder="penicilina mofo">
      </div>
      <div class="form-group">
        <label for="hasCardiacDiseases">Lista dos problemas cardiacos ou neurologicos</label>
        <input type="text" class="form-control" id="hasCardiacDiseases" placeholder="arritimia dislexia">
      </div>
      <fieldset class="form-group mftf-border">
        <legend class="mftf-border">Deficiencias</legend>
        <div class="form-group form-inline">
          <label for="hasAuditiveDeficency">Auditiva</label>
          <input type="checkbox" class="form-control" id="hasAuditiveDeficency">
          <label for="hasVisualDeficency">Visual</label>
          <input type="checkbox" class="form-control" id="hasVisualDeficency">
          <label for="hasMentalDeficency">Mental</label>
          <input type="checkbox" class="form-control" id="hasMentalDeficency">
          <label for="hasMotorDeficency">Motora</label>
          <input type="checkbox" class="form-control" id="hasMotorDeficency">
        </div>
      </fieldset>
      <div class="form-group form-inline">
        <label for="hasBrochitisOrAsthma">Tem bronquite ou falta de ar</label>
        <input type="checkbox" class="form-control" id="hasBrochitisOrAsthma">
      </div>
      <div class="form-group form-inline">
        <label for="hasRecurringDiarrhea">Tem diarreia com frequencia</label>
        <input type="checkbox" class="form-control" id="hasRecurringDiarrhea">
      </div>
      <div class="form-group form-inline">
        <label for="hasConvulsions">Tem convulsoes</label>
        <input type="checkbox" class="form-control" id="hasConvulsions">
      </div>
      <div class="form-group form-inline">
        <label for="needConstantMedicalSupervision">Vai ao pediatra regularmente</label>
        <input type="checkbox" class="form-control" id="needConstantMedicalSupervision">
      </div>
    </fieldset>
    <fieldset class="form-group mftf-border">
      <legend class="mftf-border">Matricula</legend>
      <div class="form-group">
        <label for="enrollmentEducationCenter">Unidade</label>
        <input type="text" class="form-control" id="enrollmentEducationCenter" placeholder="Efata">
      </div>
      <div class="form-group">
        <label for="enrollmentGroup">Grupo</label>
        <input type="text" class="form-control" id="enrollmentGroup" placeholder="1C">
      </div>
      <div class="form-group">
        <label for="enrollmentDate">Data</label>
        <input type="date" class="form-control" id="enrollmentDate" placeholder="01/01/2017">
      </div>
      <div class="form-group">
        <label for="enrollmentGuardianName">Responsavel</label>
        <input type="text" class="form-control" id="enrollmentGuardianName" placeholder="Antonio Jose da Silva">
      </div>
      <div class="form-group">
        <label for="enrollmentSchoolCoordinatorName">Coordenador</label>
        <input type="text" class="form-control" id="enrollmentSchoolCoordinatorName" placeholder="Kezia">
      </div>
      <div class="form-group">
        <label for="enrollmentStatus">Status</label>
        <input type="text" class="form-control" id="enrollmentStatus" placeholder="Digitado">
      </div>
    </fieldset>

    <button type="submit" class="btn btn-success">Adicionar</button>
  </form>
</div>
